{% extends 'base.html.twig' %}

{% block title %}Hello Visiteur!
{% endblock %}

{% block body %}
	<h1 class="mt-5">Liste des Bulletins</h1>

	{% if bulletins is iterable %}
		{% set i = 1 %}
		{% for bulletin in bulletins %}
			<div class="alert alert-{{ bulletin.category }}">
				<h3 class="display-5">
					<a href="{{ path('bulletin_display' , { "bulletinId":i } ) }}">{{ bulletin.title }}</a>
				</h3>
				<p class="h3">{{ bulletin.category }}</p>
				<p>{{ bulletin.content }}</p>
				<p class="lead">{{ bulletin.creationDate|date('d/m/Y à G:i:s', 'Europe/Paris') }}</p>
			</div>
			{% set i = i + 1 %}
		{% endfor %}
	{% else %}
		<div class="alert alert-{{ bulletins.category }}">
			<h3 class="display-5">{{ bulletins.title|upper }}</h3>
			<p class="h3">{{bulletins.category}}</p>
			<p>{{bulletins.content}}</p>
			<p class="lead">{{bulletins.creationDate|date('d/m/Y à G:i:s', 'Europe/Paris')}}</p>
		</div>
	{% endif %}
{% endblock %}
