{% extends 'base.html.twig' %}

{% block title %}Hello Visiteur!
{% endblock %}

{% block body %}
	<h1 class="mt-5">
		<a href="{{ path('index') }}">Liste des Bulletins</a>
	</h1>
	{% for bulletin in bulletins %}
		<pre>
		{{ dump(bulletin) }}
	</pre>
		<div class="alert alert-info">
			<h3 class="display-5">
				<a href="{{ path('bulletin_display', {'bulletinId':bulletin.Id})}}">{{ bulletin.title }}</a>
			</h3>
			<p class="h3">{{ bulletin.category }}</p>
			<p>{{ bulletin.content }}</p>
			<p class="lead">{{ bulletin.creationDate|date('d/m/Y à G:i:s', 'Europe/Paris') }}</p>
			<a href="{{ path('bulletin_delete', {'bulletinId':bulletin.id}) }}">
				<button class="btn btn-danger">Supprimer</button>
			</a>
		</div>
	{% endfor %}
{% endblock %}
