{% extends 'base.html.twig' %}

{% block title %}Hello Visiteur!
{% endblock %}

{% block body %}
	<h1 class="mt-5">Hello
		{{controller_name}}
		!</h1>

	<div>
		<h3>{{bulletin.title}}</h3>
		<p>{{bulletin.category}}</p>
		<p>{{bulletin.content}}</p>
		<p>{{bulletin.creationDate|date('d/m/Y à G:i:s', 'Europe/Paris')}}</p>
	</div>
{% endblock %}
