{% extends "base.html.twig" %}

{% block title %}Tags
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="d-flex justify-content-between">
		<a href="{{ path('tag_create') }}">
			<div class="btn btn-success mt-5">Ajouter un tag</div>
		</a>
		<a href="{{ path('tags_create') }}">
			<div class="btn btn-success mt-5">Ajouter 5 tags</div>
		</a>
	</div>
	{% if tags is defined %}
		<div class="mt-3">
			<ul class="list-group">
				{% for tag in tags %}
					<li class="list-group-item d-flex justify-content-between">
						<span>{{ tag.name }}</span>
						<a href="{{ path('tag_delete', {"tagId":tag.id}) }}">
							<div class="btn btn-danger">Supprimer</div>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock %}
