<header>
	<!-- Fixed navbar -->
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path('index') }}">SymfonyBlog</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('index_cheatsheet') }}">Cheatsheet</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('tag_list') }}">Tags</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link active dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Catégories</a>
						<ul class="dropdown-menu" aria-labelledby="category">
							<li>
								<a class="dropdown-item" href="{{ path('index_category', {'categoryName' : 'general'}) }}">General</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('index_category', {'categoryName' : 'urgent'}) }}">Urgent</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('index_category', {'categoryName' : 'divers'}) }}">Divers</a>
							</li>
						</ul>
					</li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
</header>
